@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h1 class="display-4">Вступ</h1>
</div>

<p>
    ASP - Active Server Pages - фреймворк C# зі створення веб-застосунків
</p>

<p>
    В основі фрймворку - паттерн MVC, у структурі проєкту знаходяться три відповідні папки.
    <br/>
    Контроллери - класи, що містять методи, які відповідають кожен за свою сторінку, точніше, за свою активність.
    <br/>
    Представлення - розміткові файли, реалізовані за принципом шаблону.
    Загальне оточення реалізоване у Shared/_Layout.cshtml, внутрішні сторінки (RenderBody) - у /Home/*.cshtml файлах
    <br/>

</p>
<p>
    ? Як сервер визначає, що треба запустити відповідний контроллер ?
    <br/>
    ! За збігом імен. Частина HTTP-запиту, що відповідає за контроллер (до першого слешу), перевіряється на наявність у папці "Controller" або за прямим збігом Name.cs, або за збігом NameController.cs !
    !! У ASP роль імен досить велика !!
</p>
<p>
    ? Що означає паттерн у маршрутизаторі (pattern: "{controller=Home}/{action=Index}/{}")
    <br/>
    ! Це задає правило аналіізу URL запиту з якого визначаються деталі: !
    <ul>
        <li>назва контроллера (controller) та значення за замовчанням (Home), якщо нічого не буде передано</li>
        <li>назва методу (action) та його значення за азмовчанням (Index)</li>
        <li>необов'язковий параметр {id}</li>
    </ul>
    Наприклад, запит "/" не містить жодних даних, відповідно обирається контроллер Home та метод Index.
    <br/>
    Запит "/Items" звернеть до контроллера "Items.cs" до методу "Index" (за замовчанням)
    <br/>
    Запит "/Items/Goods" - до методу Goods() контроллера Items.cs
</p>
<p>
    ?  ?
</p>