@{
    ViewData["Title"] = "Sessions";
}

<div>
    <h1 class="display-4">HTTP - сесії</h1>
</div>
<p>
    HTTP-сесії - механізм збереження даних на сервері з прив'язкою до певного клієнта (бравзера).
    Поняття сесії доволі широке. Це часовий проміжок або сеанс, який може вживатися у різних контекстах (сесія студентів, сесія парламенту).
    Для більш конкретного вживання слід зазначати "HTTP-сесії".
</p>
<p>
    HTTP-сесії реалізуються через Cookie.
    Cookie - частина HTTP протоколу, яка передбачає те, що клієнт, який отримав Cookie, буде включати їх у всі запити, що спрямовані на даний ресурс.
    Також клієнт має забезпечити контроль часу життя Cookie.
    Як правило цей час великий, тому бравзер зберігає Cookie у файл(и).
</p>
<p>
    Сесію можна уявити, як файл з боку сервера, названий так, як Cookie.
    Прихід Cookie у запиті тягне за собою відкриття файлу та відновлення даних, збережених для цього клієнта (запиту). 
    Зокрема, це дозволяє мінімізувати кількість Cookie - передавати лише одну, а всі дані зберігати на сервері.
</p>
<p>
    Налагодження та включення сесій - див. <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документацію</a>.
</p>
<form>
    Встановити атрибут сесії: <input name="session-attr" />
    <input type="submit" value="Встановити" />
</form>
<p>
    Раніше встановлений атрибут: @Context.Session.GetString("session-attribute")
</p>