@{
    ViewData["Title"] = "Tag-Helpers";
}

<div class="text-center">
    <h1 class="display-4">Теґи помічники</h1>
</div>

<p>
    При створенні посилань (у т.ч. форм) ми зазначаємо адресу
    <code>
        &lt;a href="/Home/TagHelpers">
    </code>
    Ця адреса має узгоджуватись із правилом маршрутизації
    <br />
    <code>
        pattern: "{conrtoller=Home}/{action=Index}/{id?}"
    </code>
    <br />
    Тобто на першому місці - контроллер, на другому - метод (action)
</p>

<p>
    Правила маршрутизації в процесі створення ПЗ можуть зазанвати змін.
    Наприклад, до них можуть бути додані відомості про культуру (uk-UA).
    Як правило, ці відомості зазначають першими в URL
    <br />
    <code>
        &lt;a href="/uk-UA/Home/TagHelpers">
    </code>
    <br />
</p>

<p>
    Для того щоб посилання мали змогу деякої перевірки валідності, а також для забезпечення еластичності (адаптації до змін правил маршрутизації), використовуються теґ-помічники - 
    звичайні теґи з наявними asp-xxxxx атрибутами. Також можливо зазначити лише частину з цих атрибутів, інші будуть взяті з оточення або за замовченням.
</p>