@{
    ViewData["Title"] = "Url";
}

<div class="text-center">
    <h1 class="display-4">Url</h1>
</div>

<p>Уніфікований локатор ресурсів (Uniform Resource Locator, URL) - стандартизована адреса певного ресурсу в Інтернеті.</p>

<p>
    Структура:
    <br/>
    [схема]://[логін]:[пароль]&commat;[хост]:[порт]/[шлях]?[параметри]#[якір]
</p>

<p>
    Схема (Scheme) - частина URL, що вказує на протокол, який використовується при підключенні до сторінки (наприклад http, https, ftp).
    <br /><br />
    Логін та пароль - опціональні дані користувача, які вказуються, якщо для доступу до ресурсу необхідна авторизація.
    <br /><br />
    Хост (або повне доменне ім'я) - повне ім'я ресурсу в читабельному форматі, що буде замінено на IP-адресу (або вказується одразу IP-адреса).
    <br /><br />
    Порт - номер процесу, по якому проводиться звернення до вузла.
    <br /><br />
    Шлях (PATH) - уточнююча вказівка на конкретний файл (сторінку, зображення тощо) на сервері.
    <br /><br />
    Параметри - додатковий компонент запиту, якому передує знак питання (?), що складається з рядка запиту неієрархічних даних. 
    Його синтаксис не чітко визначений, але за домовленістю найчастіше це послідовність пар атрибут–значення.
    До прикладу використовуються в запитах до API.
    <br /><br />
    Якір (hash) - містить ідентифікатор фрагмента, такого як заголовок розділу в статті, ідентифікований залишком URI. 
    Коли основним ресурсом є HTML-документ, фрагмент часто є атрибутом id певного елемента, і веб-браузери прокручують цей елемент у поле зору.
</p>